services:
  cypress:
    image: cypress/included:13.11.0
    container_name: ddev-${DDEV_SITENAME}-cypress
    networks: [default, ddev_default]

    tty: true

    environment:
      - CYPRESS_BASE_URL=${DDEV_PRIMARY_URL}
      - DISPLAY=host.docker.internal:0
      # Pass in the admin details from CI environments
      - CYPRESS_ADMIN_USERNAME
      - CYPRESS_ADMIN_PASSWORD
      # For percy
      - PERCY_TOKEN

    volumes:
      # Mount the project root to Cypress's project point
      - "${DDEV_APPROOT}:/e2e"
      # Mount DDEV to allow commands
      - ".:/mnt/ddev_config"
      # Allow X11 forwarding
      - /tmp/.X11-unix:/tmp/.X11-unix

    external_links:
      # Resolve links via DDEV router
      - "ddev-router:${DDEV_HOSTNAME}"

    entrypoint: /bin/bash
    working_dir: /e2e/web/themes/custom/contribtracker
